@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
     
    
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row:after, .menu::after, .sort-class::after {
    content:"";
    display: block;
    clear: both;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.col-1{
    width: 8.33333%;
}
.col-2{
    width: 16.66667%;
}
.col-3{
    width:25%;
}
.col-4{
    width: 33.33333%;
}
.col-6{
   width: 50%;
}
.col-7{
    width: 58.33333%;
}
.col-8{
    width: 66.66667%;
}
.col-9{
    width: 75%;
}
.col-12{
    width: 100%;
}
.header {
    background-color: rgba(255,255,255,0.75);
    padding: 25px 0;
}
.logo{
    margin-top: 7px;
}
.menu li{
float: left;
width: 25%;
border-left: 1px solid #2c71b8;
position: relative;
z-index: 10;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;}
.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}
.menu a:hover{
    background-color: #2c71b8;
    color: white;
}
.smn > li {
width: 286px;
padding: 12px;
background-color: #2c71b8;
color: white;
font-size: 21px;
left: -1px;
}
.next:hover .smn {
    display:block;
}
.smn{
    display: none;
    position: absolute;
}
.next > li:hover .smn {
	display: block;
}
.smn > li:hover {
    background-color: white;
color: #2c71b8;

}
.next:hover > a {
    background-color: #2c71b8;
    color: white;
    }  
.form-search {
    line-height: 4px;
    border: 1px solid #2c71b8;
    width: 200px;
    height: 40px;
    
    
 }
.form-search input {
    background-color:  transparent;
    border: none;
    line-height: 40px;
    padding: 0;
    
}
 .form-search input:focus {
    outline: none;
 }
 .form-search button {
    width: 30px;
    height: 30px;
    float: right;
    background-color: #2c71b8;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    
    
 }
 .form-search input::placeholder{
    font-size: 21px;
    color: #2c71b8;
    padding-left: 20px;
 }
 .cart{
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
 }
 .count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: white;
 }
 .cart img{
    padding: 10px;

 }
 .slider {
    height: 400px;
    position: relative;
    color: white;
    background-color: rgba(35,90, 147,0.75);
    border: 1px solid white;
 }
 .slide > div {
    font-size: 50px;
    text-align: center;
    padding: 150px 0;
 }
 .lap-tab {
    width: 900px;
    height: 2180px;
    background-color: rgba(186, 186, 186, 0.50);
    position: relative;
    margin: 0 auto;
    font-style: bold;
    font-size: 48px;
    color: white;
    padding-top: 70px;
    padding-left: 30px;
    border: 1px solid white;
    
 }
 .device-type{
    height: 840px;
    width: 270px;
    position: relative;
    font-size: 24px;
    color: white;
    font-style: bold;
    background-color: #568dc6;
    text-align: center;
    float: left;
    margin-right: 0;
    left: 73px;
    border: 1px solid white;
}
.sort{
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    float: right;
    position: relative;
    font-size: 21px;
    padding-left: 20px;
    color: white;
    line-height: 40px;
    border:  1px solid white;
}

.lap-tab > h6{
    color: white;
    font-size: 14px;
    
}
.sub-sort > li{
    width: 270px;
    height: 40px;
    background-color: #2c71b8;
    float: right;
    font-size: 21px;
    padding-left: 20px;
    color: white;
    line-height: 40px;
    border:  1px solid white;
    left: 1px;
    top: -2px;
}
.sub-sort > li:hover {
    background-color: white;
color: #2c71b8;
}
.sort:hover > .sub-sort {
    display: block;
}
.sub-sort{
    top: 38px;
    position: absolute;
    left: -1px;
    display: none;
}

.product{
    border: 1px solid #ffffff;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
}
.product-image{
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    position: relative;
    margin: 0;
    padding: 10px;
}
.product-image > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.product-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
.product-description, .product-features {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 21px;
}
.product-features > span {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold; 
}
.product-price {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
.product-price > span {
    vertical-align:text-top;
    font-size: 35px;
}
.product-button{
    margin-left: 40px;
}
.one {
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    width: 210px;
    
    height: 50px;
    margin-top: 30px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.two{
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
    color: white;
    width: 210px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.name{
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.breadcrambs a, .breadcrambs {
    color: #7aa5d2;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
} 
.breadcrambs a:last-child{
    text-decoration: underline;
}
.load-more {
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 40px;
}
.footer{
    background-color:#cadbed ;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #2c71b8;
    font-size: 21px;
}
.filter > img {
    width: 10px;
    height: 10px;
}
.filter{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-right: 1px solid #ffffff;
    padding-left: 30px;
    font-size: 21px;
    width: 270px;
    height: 840px;
    margin-right: 30px;
}
.filter span {
    font-weight: 700;
}
.square {
    margin-bottom: 15px;
    margin-top: 20px;
}
.dev {
    margin-top: 35px;
    margin-bottom: 65px;
}
.three{
    width: 210px;
    height: 50px;
    color: white;
    background-color: #2c71b8;
    border: 1px solid white;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}
.zoom {
   background:url(images/zoom-2.png) no-repeat center;
    border: 1px solid #538cc5;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.zoom:hover{
    background: #538cc5 url(images/zoom-1.png) no-repeat center;
}
.like {
    background: url(images/heart-2.png) no-repeat center;
    border: 1px solid #538cc5;
    position: absolute;
    top: 52px;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.like:hover, .liked{
    background: #538cc5 url(images/heart-1.png) no-repeat center;
}
.one:hover{
    background-color: rgba(124,189,254,0.40);
}
.two:hover{
    background-color: rgba(124,189,254,0.40);
}
.three:hover{
    background-color: rgba(124,189,254,0.40);
}
input[type="checkbox"]{
display: none;
}
.square > label::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    left: -15px;
    top: 7px;
    
}
.square label {
    position: relative;
}
.square > input[type="checkbox"]:checked + label::before{
    background-color: white;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal-block {
    width: 300px;
    height: 200px;
    margin: 100px auto;
    background-color: #538cc5 ;
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 17px;
  }
.modal-block button{
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}
.modal-block input {
  padding:5px;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}
.form-field {
    margin: 15px 0;
}
.btn-close {
float: right;
cursor: pointer;
}
.clear {
clear: both;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.slick-prev{
    background: url(images/arrow-left.png);
    width: 130px;
    height: 140px;
}
.slick-next{
    background: url(images/arrow-right.png);
    width: 130px;
    height: 140px;
}
.slick-dots button:hover{
    background-color: #ffffff;
};
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
}



 
    








